[Unit]
Description=Wolf Container
After=network.target docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull ghcr.io/games-on-whales/wolf:stable
ExecStart=/usr/bin/docker run \
    --name wolf \
    --network=host \
    --env-file=/etc/environment \
    -e XDG_RUNTIME_DIR=/tmp/sockets \
    -e HOST_APPS_STATE_FOLDER=/etc/wolf \
    -e WOLF_SOCKET_PATH=/var/run/wolf/wolf.sock \
    -v /tmp/sockets:/tmp/sockets:rw \
    -v /etc/wolf:/etc/wolf:rw \
    -v /var/run/wolf:/var/run/wolf:rw \
    -v /var/run/docker.sock:/var/run/docker.sock:rw \
    -v /dev/:/dev/:rw \
    -v /run/udev:/run/udev:rw \
    --device /dev/dri/ \
    --device /dev/uinput \
    --device /dev/uhid \
    --device-cgroup-rule "c 13:* rmw" \
    ghcr.io/games-on-whales/wolf:stable
ExecStop=/usr/bin/docker stop wolf
ExecStopPost=/usr/bin/docker rm wolf

[Install]
WantedBy=multi-user.target
