#cloud-config
ssh_pwauth: True

users:
  - name: test
    gecos: test user
    homedir: /home/test
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    lock_passwd: false
    plain_text_passwd: test

runcmd:
 - [ ls, -l, / ]
 - [ sh, -xc, "echo $(date) ': hello world!'" ]
 - [ sh, -c, echo "=========hello world=========" ]


#packages:
# - pwgen
# - pastebinit
# - [libpython2.7, 2.7.3-0ubuntu3.1]