#cloud-config
users:
  - name: test
    groups: users, admin
    gecos: test user
    homedir: /home/test
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    lock_passwd: false
    plain_text_passwd: test

ssh_pwauth: true
disable_root: false
chpasswd:
  list: |
     test:test
  expire: False

packages:
  - qemu-guest-agent
  - nano
  - cmatrix
  - net-tools
  - ncdu
  - resolvconf

runcmd:
 - [ sed, -i, 's/^PasswordAuthentication no/PasswordAuthentication yes/', /etc/ssh/sshd_config ]
 - [ systemctl, restart, ssh ]
 - [ curl -sfL oakestra.io/install-worker.sh | sh -  ]