# Docker Compose Configuration
# List the compose files separated by : (or ; on Windows)
COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml # TODO: add overrides

# root-level system manager
SYSTEM_MANAGER_URL=<TODO> # IP address of the root-level system manager
SYSTEM_MANAGER_PORT=10000

# root-level service manager
ROOT_SERVICE_MANAGER_URL=<TODO>
ROOT_SERVICE_MANAGER_PORT=10099

# cluster configuration
CLUSTER_NAME=<TODO>
CLUSTER_LOCATION=<TODO>

# MQTT configuration
MQTT_BROKER_URL=mqtt
MQTT_BROKER_PORT=10003

# cluster manager
CLUSTER_MANAGER_URL=cluster_manager
CLUSTER_MANAGER_PORT=10100

# cluster service manager
SERVICE_MANAGER_URL=cluster_service_manager
SERVICE_MANAGER_PORT=10110
SERVICE_MANAGER_VERSION=alpha-v0.4.302


# MongoDB configuration
MONGODB_URL=cluster_mongo
MONGODB_PORT=10107

# MongoDB net configuration 
MONGODB_NET_URL=cluster_mongo_net
MONGODB_NET_PORT=10108

# redis
REDIS_URL=cluster_redis
REDIS_PORT=6479
REDIS_PASSWORD=clusterRedis

# cluster scheduler
SCHEDULER_URL=cluster_scheduler
SCHEDULER_PORT=10105

# monitoring manager
MONITORING_MANAGER_HOST=monitoring-manager
MONITORING_MANAGER_HTTP_PORT=8081
MONITORING_MANAGER_GRPC_PORT=5568

# routing manager
ROUTING_MANAGER_HOST=routing-manager
ROUTING_MANAGER_HTTP_SERVER_PORT=8091
ROUTING_MANAGER_MQTT_CLIENT_ID=routing-manager
ROUTING_MANAGER_MQTT_USERNAME=
ROUTING_MANAGER_MQTT_PASSWORD=
ROUTING_MANAGER_MQTT_QOS=1
ROUTING_MANAGER_MQTT_CLEAN_SESSION=true
ROUTING_MANAGER_MQTT_CONNECT_TIMEOUT=30s
ROUTING_MANAGER_CONFIG_PATH=./routing-manager/config.yaml
