[Unit]
Description=ClusterManager
After=syslog.target

[Service]
Type=simple
User=thinkpad
Group=thinkpad
WorkingDirectory=/home/thinkpad/gitlab.lrz.de/cm/2020-mehdi-masters-thesis/src/cluster/cluster-manager
ExecStart=/home/thinkpad/gitlab.lrz.de/cm/2020-mehdi-masters-thesis/src/cluster/cluster-manager/start-up.sh
SyslogIdentifier=clustermanager
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
