Flask~=2.1.1
marshmallow~=3.15.0
paho-mqtt==1.6.1
Flask-PyMongo==2.3.0
Flask-SocketIO==4.3.1
eventlet==0.33.3
requests
pyyaml
APScheduler
prometheus-client
werkzeug==2.0.3
grpcio~=1.60.0
protobuf~=4.25.2
flask-smorest==0.39.0
flask-cors
flask-swagger-ui
gunicorn==22.0.0
git+https://github.com/oakestra/oakestra.git@${LIB_BRANCH}#subdirectory=libraries/oakestra_utils_library
git+https://github.com/oakestra/oakestra.git@${LIB_BRANCH}#subdirectory=libraries/resource_abstractor_client
