# Docker Compose Configuration
# List the compose files separated by : (or ; on Windows)
COMPOSE_FILE=docker-compose.yml # TODO: add overrides

# Root Orchestrator
SYSTEM_MANAGER_URL=<TODO>
SYSTEM_MANAGER_PORT=10000

# Scheduler
CLOUD_SCHEDULER_PORT=10004

# Resource Abstractor
RESOURCE_ABSTRACTOR_PORT=11011

# Network Plugin (root_service_manager)
NET_PLUGIN_PORT=10099
CUSTOM_SERVICE_MANAGER_VERSION=alpha-v0.4.301

# MongoDB
CLOUD_MONGO_PORT=10007
CLOUD_NET_MONGO_PORT=10008

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=cloudRedis

# Addons
ADDONS_MANAGER_PORT=11101
ADDONS_MARKETPLACE_PORT=11102
